*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a {
    color: #3264c8;
}
a:hover {
    color: #6c9dff;
}
.bg-blue{
    background-color: #3264c8;
    transition: 0.6s;
}
.print-btn-details:hover .bg-blue{
    background-color: #1444a5;
    transition: 0.6s;
}
.btn-primary {
    color: #fff;
    background-color: #3264c8;
    border-color: #3264c8;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(50 100 200 / 52%);
}
.btn-check:focus + .btn-primary, .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #3264c8;
    border-color: #3264c8;
    transform: translateY(0);
    box-shadow: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #3773e9;
    border-color: #3264c8;
    transform: translateY(-1px);
}
section.login-admin-auth-section {
    max-width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}
.auth-logo a img {
    max-width: 100px;
    border-radius: 100%;
}
.set_bg_result_g {
    background-color: #3da73dd4 !important;
    color: #fff;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.set_bg_result_w {
    color: #fff;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.set_bg_result_r {
    background-color: #d71c1cb0 !important;
    color: #fff;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.set_bg_result_dr{
    background-color: #e80e0eb0 !important;
    color: #fff;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.isrequired{
    color: #c90000;
}
.emp_improved td .avatar3 strong a {
    color: #ffffff;
    transition: 0.6s;
}
.emp_improved td .avatar3 strong:hover a {
    color: #000000;
    transition: 0.6s;
}
.emp_normal td .avatar3 strong a {
    color: #3264c8;
    transition: 0.6s;
}
.emp_normal td .avatar3 strong:hover a {
    color: #000000;
    transition: 0.6s;
}
.color_indicators_sec span img {
    width: 15px;
}
section.color_indicators_sec {
    display: flex;
    flex-flow: row-reverse wrap;
    padding: 0px 0px 20px 0px;
}
.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #3264c8 !important;
    background-color: rgb(50 100 200 / 25%) !important;
}
.bg-menu-theme .menu-inner > .menu-item.active:before {
    background: #3264c8 !important;
}
.menu .app-brand.demo {
    height: 100px;
    margin-top: -10px;
    margin-bottom: -15px;
}
.menu-vertical .app-brand {
    padding-right: 0px;
    padding-left: 20%;
}
.app-brand .layout-menu-toggle {
    background-color: #3264c8;
    border: 7px solid #f5f5f9;
}
.dropdown-item:not(.disabled).active, .dropdown-item:not(.disabled):active {
    background-color: rgba(110, 149, 226, 0.52);
    color: #3264c8 !important;
}
.footer-flex{
    justify-content: center;
}
.empty_td td strong i {
    color: #3264c8;
}
.avatar-edit strong{
    color: #3264c8;
}
.comments_btn_td {
    color: #ffffff;
    background-color: #00000021;
    right: -50px;
    bottom: -12px;
    font-weight: 600;
    position: relative;
    border-radius: 100px;
    padding: 1px 4px;
}
a.comments_btn_td i {
    line-height: 25px;
    font-size: 14px;
}
.comments_btn_td:hover {
    color: #3264c8;
    background-color: #ffffffa8;
}
.model_comment_text p {
    color: black;
    font-weight: 600;
}
.set_td_size{
    width: 150px;
}
.iti.iti--allow-dropdown {
    width: 100%;
}
.remove_li_style li{
    list-style: none;
}
.emp_improved{
    background-color: #fa4848;
    color: #fff;
}
.emp_edit_btn {
    position: absolute;
    right: 15px;
    top: 15px;
}
span.emp_edit_btn a i {
    color: #3264c8;
    font-size: 22px;
    box-shadow: 0px 2px 8px #3379ff;
    border-radius: 100px;
    padding: 6px;
    transition: 0.6s;
}
span.emp_edit_btn a:hover i{
    color: #3264c8;
    box-shadow: 0px 2px 8px #ffffff;
    transition: 0.6s;
}
.scores-title{
    font-size: 14px;
}
.remove_bb td {
    border-bottom: none;
}
tr.remove_bb {
    line-height: 5px;
}
th.head-center-per {
    text-align: center;
}
ul.nav.nav-tabs.nav-fill .nav-link {
    padding: 0.5rem 5px;
    font-size: 12px;
    font-weight: 600;
}
.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: #2459c3;
    border-color: #cbd8f1;
    box-shadow: 0 2px 4px 0 rgb(134 161 215);
}
span.radio-inline-num {
    font-weight: 600;
    padding: 2px 8px;
    font-size: 12px;
    margin-right: 8px;
    color: #3264c8;
    margin-top: 15px;
    display: inline-block;
}
.form-control:focus, .form-select:focus {
    border-color: #3264c8;
}
.btn-p-avg{
    width: 166px;
}
.emp-d-avg-btn {
    margin-top: 6px;
}
.avatar-edit img {
    height: 40px !important;
    object-fit: cover;
}
.img-d-emp {
    width: 115px;
    height: 130px;
    object-fit: cover;
}
.emp_info h3 {
    margin-bottom: 5px;
}
#emp-d-dd {
    margin-bottom: 20px;
}
input.form-check-input.checked-edit {
    box-shadow: 0 2px 15px #c9c9c9;
    border: 1px solid #2459c3;
}
.img-d-emp-print{
    width: 90px;
    height: 100px;
    object-fit: cover;
}
.card-body-print {
    padding: 10px 1.5rem !important;
}